<footer class="site-footer">
    <div class="footer-columns">
        <div class="footer-about">
            <h4>About</h4>
            <p>{{ site.data.default.description }}</p>
        </div>
        <div class="footer-navigation">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#">About</a></li>
                <!-- <li><a href="#">Blog Archive</a></li> -->
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h4>Connect</h4>
            <ul>
                <li><a href="{{ site.data.author.social.linkedin }}" target="_blank">LinkedIn</a></li>
                <li><a href="{{ site.data.author.social.github }}" target="_blank">GitHub</a></li>
                <li><a href="{{ site.data.author.social.medium }}" target="_blank">Medium</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <p><b>© 2025 {{ site.data.default.title}}. All Rights Reserved.</b></p>
    </div>
</footer>