<section class="recent-section">
    <div class="recent-content">
        <h3 class="recent-content-heading">Recent posts <a href="#" class="archive-link">• Full archive →</a></h3>
        <ul class="recent-list">
            {% for post in site.posts offset:1 limit:3 %}
            <li>
                <span class="article-date">{{ post.date | date: "%b %d, %Y" }}: </span>
                <a href="{{post.url}}">{{post.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="recent-content">
        <h3 class="recent-content-heading">Recent articles <a href="#" class="archive-link">• Full archive →</a></h3>
        <ul class="recent-list">
            {% for post in site.articles offset:1 limit:2 %}
            <li>
                <span class="article-date">{{ post.date | date: "%b %d, %Y" }}: </span>
                <a href="{{post.url}}">{{post.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<section class="recent-section">
    <div class="recent-content">
        <h3 class="recent-content-heading">Papers read <a href="#" class="archive-link">• Full archive →</a></h3>
        <ul class="recent-list">
            {% for post in site.posts offset:1 limit:3 %}
            <li>
                <span class="article-date">{{ post.date | date: "%b %d, %Y" }}: </span>
                <a href="{{post.url}}">{{post.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>