<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ 'sitemap.xml' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="Your Site Name RSS Feed"
        href="{{ 'feed.xml' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | absolute_url }}">

    <!-- SEO START. -->
    {% include seo.html %}

    <!-- ANALYTICS PROVIDERS-->
    {% for analytics in site.analytics %}
    {% capture str %}
    {{ analytics }}
    {% endcapture %}
    {% assign platform = str | split: '{' | first %}
    {% if site.analytics[platform].id and site.analytics[platform].id != empty %}
    {% include analytics/{{ platform }}.html %}
    {% endif %}
    {% endfor %}

    <!-- SCRIPTS -->
    {% for script in site.data.scripts.list %}
    {% include scripts/{{ script }} %}
    {% endfor %}

    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url}}">

</head>