<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="Your Site Name RSS Feed"
        href="{{ '/feed.xml' | absolute_url }}">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->

    <!-- SEO START. -->
    {% include seo.html %}

    <!-- ANALYTICS PROVIDERS-->
    {% for analytics in site.analytics %}
    {% capture str %}
    {{ analytics }}
    {% endcapture %}
    {% assign platform = str | split: '{' | first %}
    {% if site.analytics[platform].id and site.analytics[platform].id != empty %}
    {% include analytics/{{ platform }}.html %}
    {% endif %}
    {% endfor %}

    <!-- SCRIPTS -->

    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url}}">

</head>