{% if page.hero-intro or page.hero-image %}
{% assign image_style = "" %}

{% unless page.hero-intro %}
{% assign image_style = "flex: 1; width: 100%;" %}
{% endunless %}

<section class="hero-section">
    {% if page.hero-intro %}
    <div class="hero-intro">
        {{ page.hero-intro }}
    </div>
    {% endif %}
    {% if page.hero-image %}
    <div class="hero-image-col" style="{{ image_style }}">
        <img src="{{ page.hero-image }}" alt="Placeholder image">
    </div>
    {% endif %}
</section>
{% endif %}