<!-- assigns default seperator -->
{%- assign title_separator = site.data.default.title_separator | default: '-' -%}

<!-- set page title as page / post title else default title -->
{%- assign page_title = page.title | default: site.data.default.title | replace: '|', '&#124;' -%}

<!-- SEO if default title nothing else append default title to page title -->
{%- if page_title contains site.data.default.title -%}
{%- assign seo_title = page_title | replace: '|', '&#124;' -%}
{%- else -%}
{%- assign seo_title = page_title | append: " " | append: title_separator | append: " " | append:
site.data.default.title | replace: '|', '&#124;' -%}
{%- endif -%}

<!-- markdownify page title  -->
{%- assign page_title = page_title | markdownify | strip_html | strip_newlines | escape_once -%}

<!-- markdownify SEO title  -->
{%- assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once -%}

<!-- 
If a canonical_url is explicitly set in the front matter, it will be used.
If not, the page's relative URL (page.url) will be converted to a cleaner absolute URL.
Duplicate versions like /index.html are normalized to /. 
The absolute_url filter converts a relative URL (e.g., /about/) into an absolute URL
-->
{%- assign canonical_url = page.canonical_url | default: page.url | replace: "/index.html", "/" | absolute_url %}

<!-- assigns SEO description as page description else excrept else finally default -->
{%- assign seo_description = page.description | default: page.excerpt | default: site.data.default.description -%}

<!--
Converts any Markdown in the seo_description into HTML.
Removes all HTML tags from the text.
Converts newline characters (\n) into <br /> tags.
Removes all newline characters from the text.
Replaces all <br /> tags (introduced by newline_to_br) with a space.
Escapes special HTML characters (e.g., &, <, >) only once, to prevent double escaping.
Removes any leading and trailing whitespace from the text.
-->
{%- if seo_description -%}
{%- assign seo_description = seo_description | markdownify | strip_html | newline_to_br | strip_newlines | replace:
'<br />', ' ' | escape_once | strip -%}
{%- endif -%}

<!-- assigns page author else site author -->
{%- assign author = page.author | default: site.data.author.name -%}

<!-- 
Find the most specific image available for the page:
og_image → Preferred image for Open Graph.
overlay_image → A secondary option.
image → General fallback.
Convert the selected image path to an absolute URL.
Escape the URL for safe inclusion in HTML.
If none of the images (og_image, overlay_image, or image) are defined in the front matter, the variable page_large_image will be null
-->
{%- assign page_large_image = page.header.og_image | default: page.header.overlay_image | default: page.header.image |
absolute_url | escape -%}

<!-- 
Uses the teaser image defined in the page's front matter (page.header.teaser).
If teaser is not defined, uses a default image (site.data.default.og_image).
Converts the URL to an absolute URL using the absolute_url filter.
Escapes the URL to ensure it’s safe for inclusion in HTML.
If neither page.header.teaser nor site.data.default.og_image is defined, the value of page_teaser_image will be null
-->
{%- assign page_teaser_image = page.header.teaser | default: site.data.default.og_image | absolute_url | escape -%}

<!-- assigns default og image -->
{%- assign site_og_image = site.data.default.og_image | absolute_url | escape -%}

<!-- if page date article else website page -->
{%- if page.date -%}
{%- assign og_type = "article" -%}
{%- else -%}
{%- assign og_type = "website" -%}
{%- endif -%}

<!-- assign article author -->
{%- if page.author -%}
{%- assign article_author = page.author -%}
{%- else -%}
{%- assign article_author = site.data.author.name -%}
{%- endif -%}

<!-- assigns twitter author -->
{%- if site.data.author.social.x_twitter -%}
{%- assign author_twitter = author.twitter | replace: "@", "" -%}
{%- endif -%}

<title>{{ seo_title }}</title>
<meta name="description" content="{{ seo_description }}">
<link rel="canonical" href="{{ canonical_url }}">

{% if og_type == "article" %}
<meta property="article:author" content="{{ article_author }}">
{%- else -%}
<meta name="author" content="{{ article_author }}">
{% endif %}

<!-- open graph -->
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page_title }}">
{% if seo_description %}
<meta property="og:description" content="{{ seo_description }}">
{% endif %}
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:locale" content="{{ site.locale | replace: " -", "_" | default: "en_US" }}">

{% if page.date %}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}
{% if og_type == "article" and page.last_modified_at %}
<meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
{% endif %}

{% if page_large_image %}
<meta property="og:image" content="{{ page_large_image }}">
{% elsif page_teaser_image %}
<meta property="og:image" content="{{ page_teaser_image }}">
{% endif %}

<!-- PAGINATION -->
{% if paginator.previous_page %}
<link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}">
{% endif %}
{% if paginator.next_page %}
<link rel="next" href="{{ paginator.next_page_path | absolute_url }}">
{% endif %}

<!-- SOCIAL MEDIA -->
<!-- {% if site.twitter.username %}
<meta name="twitter:site" content="@{{ site.twitter.username | replace: " @", "" }}">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ seo_description }}">
<meta name="twitter:url" content="{{ canonical_url }}">

{% if page_large_image %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ page_large_image }}">
{% else %}
<meta name="twitter:card" content="summary">
{% if page_teaser_image %}
<meta name="twitter:image" content="{{ page_teaser_image }}">
{% endif %}
{% endif %}

{% if author_twitter %}
<meta name="twitter:creator" content="@{{ author_twitter }}">
{% endif %}
{% endif %}

{% if site.facebook %}
{% if site.facebook.publisher %}
<meta property="article:publisher" content="{{ site.facebook.publisher }}">
{% endif %}

{% if site.facebook.app_id %}
<meta property="fb:app_id" content="{{ site.facebook.app_id }}">
{% endif %}
{% endif %} -->

<!-- SITE VERIFICATION -->
{% if site.data.analytics.google.verification_id %}
<meta name="google-site-verification" content="{{ site.data.analytics.google.verification_id }}" />
{% endif %}