/* article.css */

/* Article Container */
.article {
    background-color: var(--background-color);
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1em;
    margin: 1em auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.article-heading {
    margin-bottom: 1.5em;
}

.article-title {
    margin: 0;
    /* font-size: 1.4rem; */
    /* Mobile-first size */
    font-weight: bold;
    line-height: 1.2;
    color: var(--heading-color);
}

.article-subtitle {
    margin: 0.5rem 0 0;
    font-size: 1rem;
    color: #666;
    font-weight: normal;
}

.article-meta {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #444;
}

.article-meta .article-date,
.article-meta .article-tags {
    display: block;
    margin-bottom: 0.3em;
}

.article-content {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color);
}

.article-content p {
    margin-bottom: 1em;
}