/* base.css */

/* General Styles */
body {
    /* For very small screens (below 320px and up to 320px), 
       we start with minimal margins/padding. */
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: 0 auto;
    padding: 20px;
    width: 95%;
    /* Let the content expand to full width on very small screens */
    max-width: 100%;
    text-align: left;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

main {
    line-height: 1.6;
    margin: 20px 0;
    /* background-color: var(--background-color);
    border: 2px solid #b3b3b3;
    border-radius: 6px;
    padding: 1em;
    margin: 1em auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
}

a {
    color: var(--link-color);
    font-family: var(--font-main);
    text-decoration: none;
    border-bottom: 3px solid var(--main-color);
    cursor: pointer;
}

a:hover {
    background-color: var(--main-color);
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: var(--visited-color);
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
}

blockquote {
    border-left: 1px solid var(--blockquote-color);
    color: var(--code-color);
    padding-left: 20px;
    font-style: italic;
}