:root {
    --text-color: #333;
    --heading-color: #000;
    --link-color: #0000ff;
    --date-color: #555;
    --spacing: 1rem;
    --small-font: 0.9rem;
    --smaller-font: 0.7rem;
}

.recent-section {
    display: flex;
    gap: 40px;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3px;
    padding-right: 3px;
    flex-wrap: wrap;
}

.recent-content,
.recent-papershelf-section {
    flex: 1;
    min-width: 300px;
}

.article-heading {
    font-size: 1rem;
    /* Smaller heading size */
    color: var(--heading-color);
    font-weight: bold;
    margin-bottom: var(--spacing);
}

.archive-link {
    font-weight: normal;
    font-size: 0.9rem;
    color: var(--link-color);
    text-decoration: none;
}

.article-description {
    font-size: var(--small-font);
    margin-bottom: var(--spacing);
    color: var(--text-color);
}

.article-list {
    list-style: disc;
    padding: 0;
    margin: 0;
}

.article-list li {
    margin-bottom: 6px;
    font-size: var(--small-font);
    color: var(--text-color);
}

.article-date {
    color: var(--date-color);
    font-weight: bold;
    font-size: var(--small-font);
}

.article-date-archive {
    color: var(--date-color);
    font-weight: bold;
    font-size: var(--small-font);
}

.article-list a {
    color: var(--link-color);
    font-size: var(--small-font);
    text-overflow: ellipsis;
}