/* recent-section.css */

/* Recent Section */
.recent-section {
    display: flex;
    flex-direction: column;
    /* Stack articles on smaller screens */
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 3px;
}

.recent-content,
.recent-papershelf-section {
    flex: 1;
    min-width: 300px;
}

.article-heading {
    font-size: 1rem;
    color: var(--heading-color);
    font-weight: bold;
    margin-bottom: var(--spacing);
}

.article-description {
    font-size: var(--small-font);
    margin-bottom: var(--spacing);
    color: var(--text-color);
}

.article-list {
    list-style: disc;
    padding: 0;
    margin: 0;
}

.article-list li {
    margin-bottom: 6px;
    font-size: var(--small-font);
    color: var(--text-color);
}

.article-date {
    color: var(--text-color);
    font-weight: bold;
    font-size: var(--small-font);
}

.article-list a {
    color: var(--link-color);
    font-size: var(--small-font);
    text-overflow: ellipsis;
}