---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}

    <main>

        {{ content }}

        <ul class="recent-list">
            {% assign post_list = '' | split: ',' %}
            {% for post in site.posts %}
            {% for tag in post.tags %}
            {% assign post_list = post_list | push: post %}
            {% endfor %}
            {% endfor %}
            {% for post in post_list %}
            {% unless post == previous %}
            <li>
                <span class="article-date-archive">{{ post.date | date: "%b %d, %Y" }}: </span>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endunless %}
            {% assign previous = post %}
            {% endfor %}
        </ul>

        <small>
            {% for tag in site.tags %}
            {% assign tag_slug = tag | first %}
            {% assign no_of_posts = tag | last | size %}
            <!-- <a href="{{ 'tagged/' | relative_url }}{{ tag_slug }}" title="See all posts by {{ tag_slug }} tag">#{{
                tag_slug
                }}</a> -->
            <a>#{{tag_slug}}</a>
            {% endfor %}
        </small>

        <footer>
            {% include footer.html %}
        </footer>
</body>

</html>